TiendaNueva/src/conf/xml-resources/web-service-references/ServicioTienda/wsdl/localhost_8088/WebServiceLocalCasa/ServicioTienda.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servicio/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servicio/" name="ServicioTienda">
<types>
<xsd:schema>
<xsd:import namespace="http://Servicio/" schemaLocation="http://localhost:8088/WebServiceLocalCasa/ServicioTienda?xsd=1" />
</xsd:schema>
</types>
<message name="AgregarCategoria">
<part name="parameters" element="tns:AgregarCategoria" />
</message>
<message name="AgregarCategoriaResponse">
<part name="parameters" element="tns:AgregarCategoriaResponse" />
</message>
<message name="AgregarCliente">
<part name="parameters" element="tns:AgregarCliente" />
</message>
<message name="AgregarClienteResponse">
<part name="parameters" element="tns:AgregarClienteResponse" />
</message>
<message name="hello">
<part name="parameters" element="tns:hello" />
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse" />
</message>
<portType name="ServicioTienda">
<operation name="AgregarCategoria">
<input wsam:Action="http://Servicio/ServicioTienda/AgregarCategoriaRequest" message="tns:AgregarCategoria" />
<output wsam:Action="http://Servicio/ServicioTienda/AgregarCategoriaResponse" message="tns:AgregarCategoriaResponse" />
</operation>
<operation name="AgregarCliente">
<input wsam:Action="http://Servicio/ServicioTienda/AgregarClienteRequest" message="tns:AgregarCliente" />
<output wsam:Action="http://Servicio/ServicioTienda/AgregarClienteResponse" message="tns:AgregarClienteResponse" />
</operation>
<operation name="hello">
<input wsam:Action="http://Servicio/ServicioTienda/helloRequest" message="tns:hello" />
<output wsam:Action="http://Servicio/ServicioTienda/helloResponse" message="tns:helloResponse" />
</operation>
</portType>
<binding name="ServicioTiendaPortBinding" type="tns:ServicioTienda">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="AgregarCategoria">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="AgregarCliente">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="hello">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="ServicioTienda">
<port name="ServicioTiendaPort" binding="tns:ServicioTiendaPortBinding">
<soap:address location="http://localhost:8088/WebServiceLocalCasa/ServicioTienda" />
</port>
</service>
</definitions>